---
    import Navbar from '../../components/Navbar.svelte';

    import Footer from '../../components/Footer.svelte';

    import { request, gql } from "graphql-request";

    import { fadayiyGraphqlApi } from '../../lib/variables.js';

    import Astronauts from '/src/components/Astronauts.svelte';

    const queryAstronauts = gql`
    {
      astronauts {
        name,
        agency {
          name,
          abbrev
        },
        nationality,
        twitter,
        instagram,
        bio,
        profile_image,
        wiki,
        first_flight,
        last_flight,
        status {
          name
        },
        type {
          name
        },
        profile_image_thumbnail,
        id
      }
    }
  `;

  const astronautsRes = await request(fadayiyGraphqlApi, queryAstronauts)

  const { astronauts } = astronautsRes
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>Astronauts | Fadayiy</title>
    <link rel="stylesheet" type="text/css" href={Astro.resolve("../../styles/global.css")}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Trispace&display=swap" rel="stylesheet">
    <style>

      body {
        /* background-image: radial-gradient(circle, #e0e4eb, #e2e5eb, #e5e6eb, #e6e7ea, #e8e8ea); */
        background-color: #020202;
        font-family: 'Trispace', sans-serif;
      }
    </style>
  </head>

  <body class="flex flex-col min-h-screen justify-between overflow-x-hidden">
    <Navbar />
    <main class="container mx-auto px-4 max-w-7xl">
        <Astronauts client:load astronauts={astronauts} />
    </main>

    <Footer />

  </body>
</html>