---
    import { request, gql } from "graphql-request";

    import { fadayiyGraphqlApi } from '../../lib/variables.js';

    import Navbar from '../../components/Navbar.svelte';

    import Footer from '../../components/Footer.svelte';

    import SpaceStation from '../../components/SpaceStation.svelte';

    const { slug } = Astro.request.params

    const params = slug.split('_')

    const id = params[params.length - 1]

    const querySpaceStation = gql`
    {
      station(id: ${id}) {
        name,
        status {
          name
        },
        type {
          name
        },
        image_url,
        description,
        founded,
        deorbited,
        orbit,
        owners {
          name,
          abbrev
        },
        id
      }
    }
  `;

  const spaceStationsRes = await request(fadayiyGraphqlApi, querySpaceStation)

  const { station } = spaceStationsRes

  export async function getStaticPaths({ }) {
    const querySpaceStations = gql`
    {
      stations {
        name,
        status {
          name
        },
        type {
          name
        },
        image_url,
        description,
        founded,
        deorbited,
        orbit,
        owners {
          name,
          abbrev
        },
        id
      }
    }
    `;

    const spaceStationsRes = await request(fadayiyGraphqlApi, querySpaceStations)

    const { stations } = spaceStationsRes

        return stations.map(station => {
            return {
                params: {
                    slug: `${station.name.replace(new RegExp(' ', 'g'), '_').toLowerCase()}_${station.id}`
                }
            }
        })
    }
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{station.name} | Space Station | Fadayiy</title>
    <link rel="stylesheet" type="text/css" href={Astro.resolve("../../styles/global.css")}>
    <style>

      body {
        background-image: radial-gradient(circle, #e0e4eb, #e2e5eb, #e5e6eb, #e6e7ea, #e8e8ea);
      }
    </style>
  </head>

  <body class="flex flex-col min-h-screen justify-between overflow-x-hidden">
    <Navbar />
    <main class="container mx-auto px-4 max-w-7xl">
        <SpaceStation spaceStation={station}/>
    </main>

    <Footer />

  </body>
</html>