---
  import Navbar from '../components/Navbar.svelte';

  import { request, gql } from "graphql-request";

  import FeaturedStations from '../components/FeaturedStations.svelte';

  import { fadayiyGraphqlApi } from '../lib/variables.js';

  const query = gql`
    {
      stations {
        name,
        status {
          name
        },
        type {
          name
        },
        image_url
      }
    }
  `;

  const stationsRes = await request(fadayiyGraphqlApi, query)

  const { stations } = stationsRes

  const featuredStations = stations.sort(() => .5 - Math.random()).slice(0,3)
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>Astro + TailwindCSS</title>
    <link rel="stylesheet" type="text/css" href={Astro.resolve("../styles/global.css")}>
    <style>
      .space {
        /* aspect-ratio: 960/300; */
        width: 100vw;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100vh;
      }

      .layerOne {
        background-image: url('/hero-bg.svg');
      }

      @keyframes float {
	      0% {
		      /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		      transform: translatey(0px);
	      }
	      50% {
		      /* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
		      transform: translatey(-20px);
	      }
	      100% {
		      /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		      transform: translatey(0px);
	      }
      }
      .animateo {
        animation: float 6s ease-in-out infinite;
      }

      body {
        background-image: radial-gradient(circle, #e0e4eb, #e2e5eb, #e5e6eb, #e6e7ea, #e8e8ea);
      }
    </style>
  </head>

  <body class="overflow-x-hidden">
    <div class="container">

      <Navbar />

      <div class="hero min-h-screen bg-base-200 space layerOne">
        <div class="flex-col hero-content lg:flex-row-reverse gap-40">
        <!-- <img src="https://picsum.photos/id/1005/600/600" class="max-w-sm rounded-lg shadow-2xl"> -->
          <img src="/gray-planet.png" class="max-w-sm rounded-lg animateo">
          <div>
            <h1 class="mb-5 text-5xl font-bold" style="color: #3c415e;">Spacey</h1> 
            <p class="mb-5" style="color: #3a415d;">The platform for the space nerds. Learn anything about space!</p> 
            <button class="font-bold py-2 px-4 rounded-full" style="background-color: #3c415e; color: #ffffff">Get Started</button>
          </div>
        </div>
      </div>

    </div>

    <FeaturedStations stations={featuredStations}/>
  </body>
</html>
